<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
	<title>Biblia</title>
</head>
<body>

	<div class="container">
		<div class="conteudo">
			<h3>Conhecer Sequencia dos Livros</h3>

			<a href="/sequencia/at">
				<button type="button" class="btn btn-primary">AT</button>
			</a>

			<a href="/sequencia/nt">
				<button type="button" class="btn btn-primary">NT</button>
			</a>

			<div class="livros">

				<a href="/sequencia/at">
					<button type="button" class="btn btn-primary"> < </button>
				</a>

				{{livro_biblia}}

				<a href="/sequencia/at">
					<button type="button" class="btn btn-primary"> > </button>
				</a>

			</div>

		</div>

	</div>

</body>
</html>